* {
  margin: 1px;
  padding: 1px;
}

body {
  background-image: url("cyka.png");
  background-size: 100%;
}
p {
  margin-left: 75%;
}
h3 {
  margin-left: 75%;
}
button {
  opacity: 0;
}
#agrentinie {
  height: 150px;
  width: 75px;
  position: absolute;
  top: 425px;
  left: 250px;
}
#colombia {
  height: 110px;
  width: 100px;
  position: absolute;
  top: 280px;
  left: 175px;
}
#grand_texas {
  height: 110px;
  width: 240px;
  position: absolute;
  top: 125px;
  left: 60px;
}
#west_denemarken {
  height: 35px;
  width: 25px;
  position: absolute;
  top: 100px;
  left: 540px;
}
#pizza {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 135px;
  left: 545px;
}
#ivor {
  height: 45px;
  width: 45px;
  position: absolute;
  top: 280px;
  left: 475px;
}
#maroco {
  height: 75px;
  width: 75px;
  position: absolute;
  top: 175px;
  left: 460px;
}
#kenia {
  height: 65px;
  width: 50px;
  position: absolute;
  top: 320px;
  left: 645px;
}
img {
    position: absolute;
    left: 70%;
    top: 0px;
    z-index: -1;
}
.menu {
  margin-top: 5px;
  margin-left: 30%;
  position: sticky;
  color: #781291;
}
